@font-face {
	font-family: "Fairfax Pona HD";
	src: url("/fonts/FairfaxPonaHD-patched.woff2") format("woff2");
}

@font-face {
	font-family: "sitelen pona pona";
	src: url("/fonts/sitelen-pona-pona.woff2") format("woff2");
}

@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/ibm-plex-mono-latin-400-normal.woff2") format("woff2")
}
