@media (prefers-color-scheme: dark) {
	:root {
		/* bright */
		--bright-black: #403833;
		--bright-red: #E8838F;
		--bright-green: #8BAE68;
		--bright-yellow: #D68C67;
		--bright-blue: #61ABDA;
		--bright-magenta: #CF86C1;
		--bright-cyan: #65B8C1;
		--bright-white: #888F94;
		/* cursor */
		--cursor: #5d5a57;
		--text: #a1938c;
		--literal: #716660;
		/* normal */
		--black: #1C1917;
		--blue: #6099C0;
		--cyan: #66A5AD;
		--green: #819B69;
		--magenta: #B279A7;
		--red: #DE6E7C;
		--white: #B4BDC3;
		--yellow: #B77E64;
		/* primary */
		--background: #1C1917;
		--foreground: #B4BDC3;

		background-color: var(--background);
		color: var(--foreground);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		/* bright */
		--bright-black: #CFC1BA;
		--bright-red: #94253E;
		--bright-green: #3F5A22;
		--bright-yellow: #803D1C;
		--bright-blue: #1D5573;
		--bright-magenta: #7B3B70;
		--bright-cyan: #2B747C;
		--bright-white: #4F5E68;
		/* cursor */
		--cursor: #2C363C;
		--text: #F0EDEC;
		/* normal */
		--black: #F0EDEC;
		--blue: #286486;
		--cyan: #3B8992;
		--green: #4F6C31;
		--magenta: #88507D;
		--red: #A8334C;
		--white: #2C363C;
		--yellow: #944927;
		/* primary */
		--background: #F0EDEC;
		--foreground: #2C363C;

		background-color: var(--background);
		color: var(--foreground);
	}
}

